[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

dj-database-url = "==0.4.2"
django = "==2.0"
gunicorn = "==19.7.1"
"psycopg2" = "==2.7.3.2"
whitenoise = "==3.3.1"
click = "==6.7"
django-heroku = "==0.2.0"
djangorestframework = "==3.7.7"
djangorestframework-gis = "==0.12"
Flask = "==0.12.2"
geos = "==0.2.1"
itsdangerous = "==0.24"
Jinja2 = "==2.10"
lxml = "==4.1.1"
MarkupSafe = "==1.0"
numpy = "==1.14.0"
pandas = "==0.22.0"
postgis = "==1.0.4"
python-dateutil = "==2.6.1"
pytz = "==2018.3"
six = "==1.11.0"
Werkzeug = "==0.14.1"
django-rest-swagger = "==2.1.2"

[dev-packages]

