click==6.7
Django==2.0.2
djangorestframework==3.7.7
djangorestframework-gis==0.12
Flask==0.12.2
GDAL==2.2.3
geos==0.2.1
itsdangerous==0.24
Jinja2==2.10
lxml==4.1.1
MarkupSafe==1.0
numpy==1.14.0
pandas==0.22.0
psycopg2==2.7.4
postgis==1.0.4
python-dateutil==2.6.1
pytz==2018.3
six==1.11.0
Werkzeug==0.14.1
