html,
body,
#map {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 0;
}
#side-nav {
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  right: 3%;
  background-color: #ffffff80;
  background-color: 0.33;
  min-width: 150px;
}
.heading {
  padding: 0 5%;
  margin: 30px 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  background: #000;
  width: 100%;
}
.footer p {
  padding: 0 2%;
  color: #fff;
  font-size: .75rem;
}
.nicebox {
  position: relative;
  right: 0;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  z-index: 5;
  box-shadow: 0 4px 6px -4px #333;
  padding: 5px 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
  border: rgb(229, 229, 229) 1px solid;
  margin: 30px auto;
}
#controls {
  width: 175px;
  height: 45px;
}
#data-box {
  height: 45px;
  line-height: 45px;
  display: none;
}
#census-variable {
  width: 175px;
  height: 20px;
}
#legend {
  display: flex;
  display: -webkit-box;
  padding-top: 7px
}
.color-key {
  background: linear-gradient(to right,
  #FFEDA0 0%,
  #FED976 17%,
  #FEB24C 33%,
  #FD8D3C 50%,
  #FC4E2A 67%,
  #E31A1C 83%,
  #BD0026 100%);
  flex: 1;
  -webkit-box-flex: 1;
  margin: 0 5px;
  text-align: left;
  font-size: 1.0em;
  line-height: 1.0em;
}
#data-value {
  font-size: 2.0em;
  font-weight: bold
}
#data-label {
  font-size: 2.0em;
  font-weight: normal;
  padding-right: 10px;
}
#data-label:after {
  content: ':'
}
#data-caret {
  margin-left: -5px;
  display: none;
  font-size: 14px;
  width: 14px
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: .75rem;
}
