body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdownFilter {
  margin: 15px;
}

#sidebar {
  background: #73cee9;
}

#mainContainer {
  margin: 0;
  padding: 0;
}

.filter {
  margin: 20px;
}

.referencePoint {
  font-size: 9px;
}

.referencePointHeader {
  font-size: 11px;
}