npmbody {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdownFilter {
  margin: 15px;
}

#sidebar {
  background: white;
}

#mainContainer {
  margin: 0;
  padding: 0;
}

.filter {
  margin: 20px;
}

/* Sidebar styling */

.referencePointHeader {
  font-size: 11px;
}

.slider {
  margin-top: 10px;
}

/* Detailed tooltip styling */

.tooltip-small {
  font-weight: bold;
  font-size: 9px;
}

.tooltip-large {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.1px;
}

.tooltip-secondary {
  font-style: italic;
  font-size: 11px;
  margin-top: 5px;
}

/* Slider styling */

.slider {
  width: 600px;
}

